# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Development
.git
.gitignore
.idea/
.vscode/
*.swp
*.swo

# Project specific
*.png
*.log
README.md
Dockerfile
docker-compose.yml
.dockerignore

# Test
tests/
test_*.py